[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "palaeoverse"]
	path = palaeoverse
	url = https://github.com/palaeoverse/palaeoverse
[submodule "rphylopic"]
	path = rphylopic
	url = https://github.com/palaeoverse/rphylopic
